<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>{{ myevents.Title }}</p>
        <!-- <p><a href="{% url 'WER_upload' %}">UPLOAD WER XML</a></p>-->
        {% if user.username == 'snorbert' %}
            <div>
                <p>WER path: {{ myevents.WER_path }}</p>
                <p>Current round: {{ myevents.Current_round }}</p>
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="werxml">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="form1">Upload</button>
                </form>
            </div>
            <br />
            <br />
            <div>
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="roundupdate">
                    {% csrf_token %}
                    {{ control_form.as_p }}
                    <button type="submit" name="formC">Update round</button>
                </form>
            </div>
        {% endif %}
    <br />
    <br />
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="playerlookup">
            {% csrf_token %}
            {{ lookup_form.as_p }}
            <button type="submit" name="form2">Search</button>
        </form>
    </div>
    <div>
        {% if lookup_resultT != '0' %}
        <p>
            Table: {{ lookup_result.4 }}<br>
            Player A: {{ lookup_result.1 }}; Seatings: {{ lookup_result.0 }} <br>
            Player B: {{ lookup_result.3 }}; Seatings: {{ lookup_result.2 }}
        </p>
        {% elif lookup_resultP != '0' %}
            <table>
                <tr>
                    <th>Round</th>
                    <th>Table</th>
                    <th>Opponent</th>
                    <th>Result</th>
                </tr>
                {% for item in lookup_resultP %}
                <tr>
                    <td>{{item.roundNum}}</td>
                    <td>{{item.tableNum}}</td>
                    <td>{{item.opponentName}}</td>
                    <td>
                        {% if item.activePlayerWin != '-1' %}
                        {{item.activePlayerWin}}-{{item.opponentWin}}-{{item.draws}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

</body>
</html>